### @version: {{ akhq_version }}
akhq:
  server:
    access-log:
      enabled: true
      name: org.akhq.log.access
      format: "[Date: {}] [Duration: {} ms] [Url: {} {}] [Status: {}] [Ip: {}] [User: {}]"

  connections:
{% for cluster in kafka_bootstrap_servers %}
    {{ cluster.name }}:
      properties:
        bootstrap.servers: "{{ cluster.servers }}"
{% if cluster.properties is defined %}
{% for key, value in cluster.properties.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
      ui-options:
        topic:
          default-view: ALL  # (ALL, HIDE_INTERNAL, HIDE_INTERNAL_STREAM, HIDE_STREAM)
          skip-consumer-groups: false # Ignorer le chargement des informations des groupes de consommateurs
          skip-last-record: true  # Ignorer le chargement des dates des derniers enregistrements
        topic-data:
          sort: NEWEST # (OLDEST, NEWEST)
{% endfor %}

  security:
    default-group: no-roles                                                                                                                                                                                                                   
    basic-auth:
      - username: admin
        password: "{{ akhq_pwd_256 }}" # Mot de passe en sha256sum
        groups:
          - admin

micronaut:
  security:
    enabled: true

{% if akhq_prometheus_enable %}
# MC)triques Prometheus
endpoints:
  all:
    port: {{ akhq_prometheus_port }}
    enabled: true
    sensitive: false
  health:
    details-visible: ANONYMOUS
  loggers:
    write-sensitive: false
{% endif %}

